.sectionHead {
    margin: auto;
    max-width: 1100px;
}

.subHead {
  color: #998afb;
  text-transform: uppercase;
  font-size: 14px;
}

.heading {
  font-size: 64px;
  margin-top: 25px;
  font-weight: 550;
  line-height: 1.05em;
}

.blockHeading {
  font-size: 48px;
}

.desc {
  color: grey;
  font-weight: 550;
  max-width: 635px;
  font-size: 18px;
  line-height: 1.5em;
  margin: 18px 0px;
}

.blockDesc {
  margin: 18px 0px 0px 0px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-top: 18px;
}

.links.soonLinks {
  justify-content: initial;
}

.solutions {
    position: relative;
    display: grid;
    margin: auto;
    max-width: 1100px;
    grid-template-columns: repeat(3, 1fr);;
    gap: 1.5rem;
    margin-top: 90px;
    z-index: 1;
}

.solution {
    background: linear-gradient(180deg, #161418, #0a080c 40%);
    border: 1px solid #ffffff0f;
    border-radius: 1rem;
    padding: 32px;
}

@media(max-width: 1100px) {
    .solutions {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 800px) {
    .solutions {
        grid-template-columns: 1fr;
    }
}
